{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "singleAttributePerLine": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "bracketSameLine": false,
  "svelteSortOrder": "scripts-markup-options-styles",
  "printWidth": 100,
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
