@layer components {
  .link {
    @apply inline-flex items-center gap-1 font-medium outline-none focus-visible:underline;

    &-primary {
      @apply text-primary-400;

      &:not(:disabled) {
        @apply hover:text-primary-300;
      }
    }

    &-secondary {
      @apply text-secondary-400;

      &:not(:disabled) {
        @apply hover:text-secondary-300;
      }
    }
  }
}
