@layer components {
  .link {
    @apply flex w-fit items-center gap-1 rounded-md font-medium underline underline-offset-1 outline-1 transition-all hover:underline-offset-[6px] focus-visible:outline focus-visible:outline-offset-4 focus-visible:outline-surface-50;

    &-primary {
      @apply text-primary-400 hover:text-primary-300;
    }

    &-secondary {
      @apply text-secondary-400 hover:text-secondary-300;
    }
  }
}
