@layer components {
  .styled-table {
    @apply overflow-auto rounded-lg;

    table {
      @apply w-full;
    }

    thead {
      @apply bg-surface-700 text-left;
    }

    tbody {
      @apply bg-surface-800;
    }

    th,
    td {
      @apply whitespace-pre p-4;
    }

    tbody tr {
      @apply border-b border-surface-700 transition last:border-none hover:bg-surface-950;
    }
  }
}
