@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  @apply h-full antialiased;
}

body {
  @apply h-full bg-black text-base-300 antialiased;
}
