@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './styles/buttons.postcss';
@import './styles/links.postcss';
@import './styles/forms.postcss';

html,
body {
  @apply h-full antialiased;
}

html {
  color-scheme: dark;
}

body {
  @apply h-full antialiased;
  @apply bg-surface-900 text-surface-50;
  @apply selection:bg-primary-200 selection:text-surface-950;
}
